<p>cuestionario works!</p>

<nav class="navbar navbar-success">
    <img src="../../assets/altepetl_horizontal_blanco.png" width="160" height="80" class="d-inline-block align-top rounded" alt="">
    <a class="navbar-brand" style="color: rgba(255, 255, 255, 0.884);">Formulario General</a>
    <form class="form-inline">

        <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit" [routerLink]="['/info']" routerLinkActive="router-link-active">Atras</button>
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" [routerLink]="['/info']" routerLinkActive="router-link-active">Cerrar Sesion</button>

    </form>
</nav>

<form class="border border-info p-3 rounded-lg m-5 " id="Formulario1 ">
    <div class="form-row ">
        <div class="form-group col-md-4">
            <label for="inputespecie">Nombre de la especie</label>
            <select class="form-control" id="especie">
              <option value="#">NINGUNA</option>
              <option value="#">CONIFERAS</option>
              <option value="#">Abies Religiosa</option>
              <option value="#">Cupressus Lusitanica</option>
              <option value="#">Pinus Cembroides</option>
              <option value="#">Pinus Greggi</option>
              <option value="#">Pinus Hartwegii</option>
              <option value="#">Pinus Leiophylla</option>
              <option value="#">Pinus Devoniana</option>
              <option value="#">Pinus Montezumae</option>
              <option value="#">Pinus Patula</option>
              <option value="#">Pinus pseudostrobus</option>
              <option value="#">Pinus Rudis</option>
              <option value="#">Pinus Teocote</option>
              <option value="#">Taxodium Mucronatum</option>
              <option value="#">LATIFOLIADAS</option>
              <option value="#">Alnus Jorullensis</option>
              <option value="#">Bursera Cuneata</option>
              <option value="#">Casuarina Equisetifolia</option>
              <option value="#">Fraxinus Udhei</option>
              <option value="#">Liquidambar Styraciflua</option>
              <option value="#">Prosopis Laevigata</option>
              <option value="#">Quercus spp</option>
              <option value="#">Salix Babylonica</option>
              <option value="#">Salix Bonplandiana</option>
              <option value="#">Tamarix Chinensis</option>
               
            </select>
        </div>
        <div class="form-group col-md-3 ">
            <label for="inputfmaterial ">Tipo de Material</label>
            <select class="form-control" id="clave">
                <option value="#">NINGUNA</option>
                <option value="#">CONIFERAS</option>
                <option value="#">LATIFOLIADAS</option>
                <option value="#">ARBUSTIVAS</option>
                <option value="#">FRUTALES</option>
                
              </select>
        </div>
        <div class="form-group col-md-2 ">
            <label for="inputclave ">Clave/Id</label>
            <input type="text" class="form-control " id="Clave " placeholder="#016">

        </div>

        <div class="form-group col-md-3 ">
            <label for="inputfecha ">Fecha</label>
            <input type="date" class="form-control " id="Fecha ">
        </div>

        <!--check del formulario completo-->

        <div class="form-group col-md-6 ">
            <label for="inputfrutosmalos  ">Kilogramos de Frutos dañados o por eliminar</label>
            <input type="text" class="form-control " id="frutosmalos " placeholder="Cantidad a eliminar">

        </div>
        <div class="form-group col-md-6 ">
            <label for="inputfrutosbuenos ">Cantiad de frutos seleccionados en buen estado</label>
            <input type="text" class="form-control " id="frutosbuenos " placeholder="Cantidad de frutos buenos">

        </div>
        <div class="form-group col-md-12 my-4">
            <legend class="so d-flex col" style="font-size: 18px; border: 1px solid rgba(18, 182, 204, 0.815); border-radius: 10px;"> Tipo de Secado Aplicado
                <div class="form-check my-2 " style="font-size: 20px;"><br>
                    <input class="form-check-input" type="checkbox" value="" id="Secado1">
                    <label class="form-check-label" for="defaultCheck1">
                  Patio de secado
                </label>
                </div>
                <div class="form-check my-2 mx-4" style="font-size: 20px"><br>
                    <input class="form-check-input" type="checkbox" value="" id="hornosecado">
                    <label class="form-check-label" for="defaultCheck1">
                  Horno de Secado
                </label>
                </div>
                <div class="form-check my-2 mx-3" style="font-size: 20px"><br>
                    <input class="form-check-input" type="checkbox" value="" id="bajosombra">
                    <label class="form-check-label" for="defaultCheck1">
                  Bajo Sombra y Aireacion
                </label>
                </div>
                <div class="form-check my-2 mx-3" style="font-size: 20px"><br>
                    <input class="form-check-input" type="checkbox" value="" id="Periodo">
                    <label class="form-check-label" for="defaultCheck1">
                  Periodo secado
                </label>
                </div>
            </legend>
        </div>
        <!--Segunda parte of the formulario en realizar-->
        <div class="form-group col-md-12 my-4">
            <legend class="so d-flex col" style="font-size: 18px; border: 1px solid rgba(18, 182, 204, 0.815); border-radius: 10px;"> Tipo de extracion de semillas
                <div class="form-check my-2 " style="font-size: 20px;"><br>
                    <input class="form-check-input" type="checkbox" value="" id="Tambor">
                    <label class="form-check-label" for="defaultCheck1">
                  Tambor Rotatorio
                </label>
                </div>
                <div class="form-check my-2 mx-3" style="font-size: 20px"><br>
                    <input class="form-check-input" type="checkbox" value="" id="Molino">
                    <label class="form-check-label" for="defaultCheck1">
                  Molino Electronico
                </label>
                </div>
                <div class="form-check my-2 mx-3" style="font-size: 20px"><br>
                    <input class="form-check-input" type="checkbox" value="" id="molinomanual">
                    <label class="form-check-label" for="defaultCheck1">
                  Molino Manual
                </label>
                </div>
                <div class="form-check my-2 mx-3" style="font-size: 20px"><br>
                    <input class="form-check-input" type="checkbox" value="" id="Forma-manua">
                    <label class="form-check-label" for="defaultCheck1">
                  Forma Manual
                </label>
                </div>
            </legend>
        </div>

        <div class="form-group col-md-6 my-3">
            <label for="inputCanti ">Cantidad de Semillas en Bruto</label>
            <input type="text" class="form-control " id="Cantibruto " placeholder="Cantidad de semillas en bruto">

        </div>
        <div class="form-group col-md-6 my-3 ">
            <label for="inputcantidad ">Cantidad de Semillas utilizadas en Laboratorio</label>
            <input type="text" class="form-control " id="Cantilabo " placeholder="Cantidad de semillas en el Laboratorio">

        </div>
        <br>
        <h3 class="titulolaboresul">Resutlados del Laboratorio</h3><br>

        <div class="form-group col-md-3 my-3  " style="font-size: 20px;">
            <label for="inputhumedad ">Humedad</label>
            <input type="text" class="form-control " id="Humedad " placeholder=" % Humedad ">

        </div>
        <div class="form-group col-md-3 my-3  " style="font-size: 20px;">
            <label for="inputpureza ">Pureza</label>
            <input type="text" class="form-control " id="Pureza " placeholder=" % Pureza ">

        </div>
        <div class="form-group col-md-3 my-3  " style="font-size: 20px;">
            <label for="inputviabilidad ">Viabilidad</label>
            <input type="text" class="form-control " id="Viabilidad " placeholder=" % Viabilidad ">

        </div>
        <div class="form-group col-md-3 my-3 ">
            <label for="inputgermen ">Germinzacion</label>
            <input type="text " class="form-control " id="Germen " placeholder=" % Germinacion ">

        </div>
        <!--parte del laboratorio y germoplasma-->
        <div class="form-group col-md-6 my-3 mx-20 ">
            <label for="inputgermen ">fecha de analisis</label>
            <input type="date" class="form-control " id="Fechaanalisis " placeholder=" Fecha analisis ">

        </div>
        <div class="form-group col-md-6  my-3 ">
            <label for="inputfalma ">Tipo de Almacenamiento</label>
            <select class="form-control" id="almacenamiento">
                <option value="#">NINGUNA</option>
                <option value="#">Congelador -18°C</option>
                <option value="#">Refrigerador 1°C</option>
                
                
              </select>

        </div>

















    </div>




    <div class="form-row ">
        <div class="form-group col-md-12 ">
            <label for="Observaciones ">Observaciones</label>
            <textarea class="form-control " id="observaciones " cols="10 " rows="8 "></textarea>
        </div>

    </div>

    <button type="submit " class="btn btn-success btn-block ">Guardar informaciòn</button>
    <button type="submit " class="btn btn-warning btn-block " [routerLink]="[ '/cuestionario'] " routerLinkActive="router-link-active ">Siguiente</button>
</form>