<div class="container-info">
    <div class="text">
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5326.675595551921!2d-99.02975373517737!3d19.25937289336324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce037f024a03bb%3A0x58e3155871d0c4b8!2sComision%20De%20Recursos%20Naturales%2C%20D.F.%20(CORENA)!5e0!3m2!1ses-419!2smx!4v1583343830669!5m2!1ses-419!2smx"
                width="100%" height="455" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>
    </div>
</div>


<!--Pie de pagina a realizar-->
<footer class="page-footer font-small pt-4">
    <div class="container ">
        <ul class="list-unstyled list-inline text-center py-2 mb-0">
            <li>
                <h5 class="mb-0 mt-5 " style="text-transform: uppercase; color: white;">Laboratorio de Informacion Geostadistica del suelo de Conservacion</h5>
            </li>
            <img src="../../../assets//blanco-CDMX-POSIBLE.png" width="300" height="120" class="d-inline-block align-top rounded my-0 pt-3" alt="">
        </ul>
    </div>
    <div class="footer text-center  pt-1 pb-3">© 2020 Copyright:
        <a href="https://altepetl.cdmx.gob.mx/"> Altepetl.com</a>
    </div>


</footer>