<div class="container-info">
    <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero natus culpa veniam deserunt enim pariatur possimus, nostrum accusantium recusandae neque ipsum laboriosam tempora. Ab excepturi aut, provident totam eligendi eos!</p>
    </div>
</div>


<!--Pie de pagina a realizar-->
<footer class="page-footer font-small pt-6">
    <div class="container ">
        <ul class="list-unstyled list-inline text-center py-2">
            <li>
                <h5 class="mb-1 mt-2 " style="text-transform: uppercase;">Laboratorio de Informacion Geostadistica del suelo de Conservacion</h5>
            </li>
            <img src="../../assets/sedema1.png" width="140" height="60" class="d-inline-block align-top rounded mt-3" alt="">
        </ul>
    </div>
    <div class="footer text-center py-3">© 2020 Copyright:
        <a href="https://www.sedema.cdmx.gob.mx/secretaria/estructura/22"> Corenader.com</a>
    </div>


</footer>