<app-barralogin></app-barralogin>


<div class="contenedorlog ">
    <form class="Inicio-login border border-success p-3 rounded">

        <div class="form-group">
            <label for="exampleInputEmail1">Correo electronico </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electronico">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
        </div>

        <button type="submit" class="btn btn-block btn-success boton1" justify-content="center">Entrar</button>

    </form>
</div>

<footer class="page-footer font-small pt-6">
    <div class="container ">
        <ul class="list-unstyled list-inline text-center py-2">
            <li>
                <h5 class="mb-1 mt-2 " style="text-transform: uppercase;">Laboratorio de Informacion Geostadistica del suelo de Conservacion</h5>
            </li>
            <img src="../../assets/sedema1.png" width="140" height="60" class="d-inline-block align-top rounded mt-3" alt="">
        </ul>
    </div>
    <div class="footer text-center py-3">© 2020 Copyright:
        <a href="https://www.sedema.cdmx.gob.mx/secretaria/estructura/22"> Corenader.com</a>
    </div>


</footer>