<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Imagen y texto  -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/sedema1.png" class="imagenlog rounded" width="110" height="60" alt="">
        </a>
    </nav>

    <div class="contenedorform ">
        <a class="navbar-brand" href="#">Laboratorio de Microbiologia</a>
        <div class="posbarra">
            <a class="navbar-brand " href="#">Imprimir</a>
            <a class="navbar-brand" href="#">Salir</a>
        </div>

    </div>
</nav>