<nav class="navbar navbar-expand-lg navbar-dark " style="background:#048c7f;">
    <!-- Imagen y texto  -->
    <nav class="navbar navbar-success pl-1" style="background: #048c7f;">
        <a class="navbar-brand py-0 " href="#">
            <img src="../../../assets/altepetl_horizontal_blanco.png" class="imagenlog rounded" width="160" height="100" alt="">
        </a>
    </nav>

    <div class="contenedorform">
        <a class="navbar-brand" href="#">Laboratorio de Geoestadistica</a>

    </div>
</nav>