<nav class="navbar navbar-expand-lg navbar-dark " style="background:rgb(45, 104, 36);;">
    <!-- Imagen y texto  -->
    <nav class="navbar navbar-success pl-1" style="background: rgb(45, 104, 36);;">
        <a class="navbar-brand py-0 " href="#">
            <img src="../../../assets/sedema1.5.png" class="imagenlog rounded" width="300" height="90" alt="">
        </a>
    </nav>

    <div class="contenedorform">
        <a class="navbar-brand" href="#">Laboratorio de Geoestadistica</a>

    </div>
</nav>