<nav class="navbar navbar-expand-lg navbar-dark  sticky-top" style="background: #048c7f;" id="barrainiciopro">
    <a class="navbar-brand" href="#">
        <img src="./../../../assets/altepetl_horizontal_blanco.png" width="150" height="100" br-50 alt="" class="rounded">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto " style="font-size: 18px;">
            <!--modificando los estilos de los navegadores de boostrap a mi gusto-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alcaldias
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Xochimilco</a>
                    <a class="dropdown-item" href="#">Tlalpan</a>
                    <a class="dropdown-item" href="#">Tlahuac</a>
                    <a class="dropdown-item" href="#">Coajimalpa</a>
                    <a class="dropdown-item" href="#">Magadalena Contreras</a>
                    <a class="dropdown-item" href="#">Albaro Obregon</a>
                    <a class="dropdown-item" href="#">Milpa Alta</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Laboratorios
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/login']">Semillas</a>


                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">

            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar Secion</button>
        </form>
    </div>
</nav>