<nav class="navbar navbar-success">
    <img src="../../assets/altepetl_horizontal_blanco.png" width="150" height="90" class="d-inline-block align-top rounded" alt="">
    <a class="navbar-brand " style="color: rgba(255, 255, 255, 0.884); padding-right:14vh;">Informacion general</a>
    <form class="form-inline">

        <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit" [routerLink]="['/admin']" routerLinkActive="router-link-active">Atras</button>
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" [routerLink]="['/info']" routerLinkActive="router-link-active">Cerrar Sesion</button>
    </form>
</nav>


<div class="contenedor-tablas ">
    <table class="table table-bordered table-dark mt-3  mb-5">
        <thead>
            <tr>
                <th scope="col">Especie</th>
                <th scope="col">Fecha</th>
                <th scope="col">Clave</th>
                <th scope="col">Material</th>
                <th scope="col">Kg Totales</th>
                <th scope="col">Especie-dominante</th>
                <th scope="col">loremsd</th>
                <th scope="col">brother</th>
                <th scope="col">Comeon</th>
                <th scope="col">lies</th>
                <th scope="col">jump</th>
                <th scope="col">lord</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Abies Religiosa</th>
                <td>18/03/2020</td>
                <td>1302N0255</td>
                <td>Coniferas</td>
                <td>153 kg</td>
                <td>Tepozan</td>
                <td>Loremds</td>
                <td>carnal</td>
                <td>comeon</td>
                <td>lies</td>
                <td>jump</td>
                <td>lord</td>
            </tr>
            <tr>
                <th scope="row">Pinus Gregii</th>
                <td>18/01/2020</td>
                <td>135500N545</td>
                <td>Coniferas</td>
                <td>200 kg</td>
                <td>Tepozan</td>
                <td>Loremds</td>
                <td>carnal</td>
                <td>comeon</td>
                <td>lies</td>
                <td>jump</td>
                <td>lord</td>
            </tr>
            <tr>
                <th scope="row">Pinus Hartwegii</th>
                <td>20/05/200</td>
                <td>1565N4D654</td>
                <td>Coniferas</td>
                <td>172 kg</td>
                <td>Tepozan</td>
                <td>Loremds</td>
                <td>carnal</td>
                <td>comeon</td>
                <td>lies</td>
                <td>jump</td>
                <td>lord</td>
            </tr>
            <tr>
                <th scope="row">Pinus Traquealuis</th>
                <td>20/05/200</td>
                <td>1565N4D654</td>
                <td>Coniferas</td>
                <td>172 kg</td>
                <td>Tepozan</td>
                <td>Loremds</td>
                <td>carnal</td>
                <td>comeon</td>
                <td>lies</td>
                <td>jump</td>
                <td>lord</td>
            </tr>
            <tr>
                <th scope="row">Pinus Ratiiumi</th>
                <td>20/05/200</td>
                <td>1565N4D654</td>
                <td>Coniferas</td>
                <td>172 kg</td>
                <td>Tepozan</td>
                <td>Loremds</td>
                <td>carnal</td>
                <td>comeon</td>
                <td>lies</td>
                <td>jump</td>
                <td>lord</td>
            </tr>
            <tr>
                <th scope="row">Goasks Duns</th>
                <td>20/05/200</td>
                <td>1565N4D654</td>
                <td>Coniferas</td>
                <td>172 kg</td>
                <td>Tepozan</td>
                <td>Loremds</td>
                <td>carnal</td>
                <td>comeon</td>
                <td>lies</td>
                <td>jump</td>
                <td>lord</td>
            </tr>
            <tr>
                <th scope="row">Pinus Hartwegii</th>
                <td>20/05/200</td>
                <td>1565N4D654</td>
                <td>Coniferas</td>
                <td>172 kg</td>
                <td>Tepozan</td>
                <td>Loremds</td>
                <td>carnal</td>
                <td>comeon</td>
                <td>lies</td>
                <td>jump</td>
                <td>lord</td>
            </tr>

        </tbody>
    </table>
</div>


<!--Pie de pagina de el contenido de la pagina informacion en tablas-->
<footer class="page-foot font-small pt-6">

    <div class="container ">
        <ul class="list-unstyled list-inline text-center py-2 mb-2">
            <li>
                <h5 class="mb-1 mt-2 " style="text-transform: uppercase; color: rgba(255, 255, 255, 0.842);">Laboratorio de Informacion Geostadistica del suelo de Conservacion</h5>
            </li>
            <img src="../../assets//blanco-CDMX-POSIBLE.png" width="300" height="110" class="d-inline-block align-top rounded mt-3" alt="">
        </ul>
    </div>
    <div class="footer text-center py-3">© 2020 Copyright:
        <a href="https://altepetl.cdmx.gob.mx/"> Altepetl.com</a>
    </div>


</footer>