<nav class="navbar navbar-success">
    <img src="../../assets/sedema1.png" width="120" height="60" class="d-inline-block align-top rounded" alt="">
    <a class="navbar-brand">Administrador Semillas</a>
    <form class="form-inline">

        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Cerrar Sesion</button>
    </form>
</nav>



<main class="adminmodifica " id="principal-admin">
    <div class="contenedor">
        <aside class=" aside ">
            <div id="nav ">
                <div class="titulonav">
                    Opciones
                </div>

                <div class="cuerporec ">
                    <ul>
                        <li><a href=" # ">Eliminar</a></li>
                        <li><a href="# ">Nuevo Administrador</a></li>
                        <li><a href="# ">Nuevas rutas</a></li>
                        <li><a href="# ">Modificar</a></li>


                    </ul>
                </div>
            </div>
        </aside>
        <form class="border border-success p-3 rounded-lg m-5 " id="Formulario ">
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputEmail4 ">Numero de viaje</label>
                    <input type="text " class="form-control " id="Numeroviaje " placeholder="Viaje realizado ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputfecha ">Fecha</label>
                    <input type="date " class="form-control " id="Fecha ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputclave ">Clave/Id</label>
                    <input type="text " class="form-control " id="Clave " placeholder="ejem: 016 ">
                </div>

            </div>
            <div class="form-row ">
                <div class="form-group col-md-6 ">
                    <label for="inputespecie ">Nombre de la especie</label>
                    <input type="text " class="form-control " id="especie " placeholder="Pinus teocote... ">
                </div>
                <div class="form-group col-md-6 ">
                    <label for="inputcategoria ">Categoria</label>
                    <input type="text " class="form-control " id="Categoria " placeholder="Arboreas-Acacia farnesiana... ">
                </div>

            </div>
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputProcedencia ">Procedencia</label>
                    <input type="text " class="form-control " id="Procedencia " placeholder="Lugar de Procedencia ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputmaterial ">Tipo de Material</label>
                    <input type="text " class="form-control " id="Material " placeholder="Conos ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputCostales ">Numero de costales</label>
                    <input type="number " class="form-control " id="Costales " placeholder="Numero de costales ">
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputPromedio ">Kg,promedio/saco</label>
                    <input type="text " class="form-control " id="sacoprome " placeholder="Kilogramos promedio ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputtotales ">Kilogramos Totales</label>
                    <input type="text " class="form-control " id="Totales " placeholder="Kilogramos totales ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputacumulado ">Kilogramo acumulado</label>
                    <input type="text " class="form-control " id="acomulado " placeholder="Kilogramos acumulados ">
                </div>
            </div>




            <div class="form-row ">
                <div class="form-group col-md-12 ">
                    <label for="Observaciones ">Observaciones</label>
                    <textarea class="form-control " id="observaciones " cols="10 " rows="8 "></textarea>
                </div>

            </div>

            <button type="submit " class="btn btn-success btn-block ">Guardar informaciòn</button>
        </form>
    </div>
</main>

<footer class="page-footer font-small pt-4">
    <div class="container">
        <ul class="list-unstyled list-inline text-center py-2">
            <li>
                <h5 class="mb-1">Laboratorio de Informacion Geostadistica del suelo de Conservacion</h5>
            </li>
        </ul>
    </div>
    <div class="footer text-center py-3">© 2020 Copyright:
        <a href="https://sedema.cdmx.gob.mx/programas/programa/altepetl"> Altepelt.com</a>
    </div>


</footer>