<nav class="navbar navbar-success">
    <img src="../../assets/altepetl_horizontal_blanco.png" width="160" height="80" class="d-inline-block align-top rounded" alt="">
    <a class="navbar-brand" style="color: rgba(255, 255, 255, 0.884);">Registro de Entrada de semillas</a>
    <form class="form-inline">

        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" [routerLink]="['/info']" routerLinkActive="router-link-active">Cerrar Sesion</button>
    </form>
</nav>


<main class="adminmodifica " id="principal-admin">
    <div class="contenedor">
        <aside class=" aside ">
            <div id="nav ">
                <div class="titulonav">
                    Opciones
                </div>

                <div class="cuerporec ">
                    <ul><br>

                        <br>
                        <li>
                            <i class="fas fa-user-cog mr-2"></i>
                            <a href="# " style="color: black; font-size: 17px;" [routerLink]="['/nuevousuario']" routerLinkActive="router-link-active"> Nuevo Administrador</a>
                        </li>
                        <br>

                        <br>
                        <li>
                            <i class="fas fa-pen-nib mr-2  "></i>
                            <a href="# " style="color: black; font-size: 17px;" [routerLink]="['/modificar']" routerLinkActive="router-link-active">Modificar</a></li>
                        <br>
                        <br>
                        <li>

                            <i class="fas fa-sign-out-alt mr-2"></i>
                            <a href="# " style="color: black; font-size: 17px;" [routerLink]="['/salida']" routerLinkActive="router-link-active">Salida</a></li>
                        <br>
                        <br>


                    </ul>
                </div>
            </div>
        </aside>

        <form class="border border-info p-3 rounded-lg m-5 " id="Formulario ">
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputEmail4 ">Numero de viaje</label>
                    <input type="text " class="form-control " id="Numeroviaje " placeholder="Viaje realizado ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputfecha ">Fecha</label>
                    <input type="date" class="form-control " id="Fecha ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputclave ">Clave/Id</label>
                    <input type="text " class="form-control " id="Clave " placeholder="ejem: 016 ">
                </div>

            </div>
            <div class="form-row ">
                <div class="form-group col-md-6 ">
                    <label for="inputespecie ">Nombre de la especie</label>
                    <select class="form-control" id="especie">
                        <option value="#">NINGUNA</option>
                        <option value="#"><em> CONIFERAS</em> </option>
                        <option value="#">Abies Religiosa</option>
                        <option value="#">Cupressus Lusitanica</option>
                        <option value="#">Pinus Cembroides</option>
                        <option value="#">Pinus Greggi</option>
                        <option value="#">Pinus Hartwegii</option>
                        <option value="#">Pinus Leiophylla</option>
                        <option value="#">Pinus Devoniana</option>
                        <option value="#">Pinus Montezumae</option>
                        <option value="#">Pinus Patula</option>
                        <option value="#">Pinus pseudostrobus</option>
                        <option value="#">Pinus Rudis</option>
                        <option value="#">Pinus Teocote</option>
                        <option value="#">Taxodium Mucronatum</option>
                        <option value="#"><em> LATIFOLIADAS</em></option>
                        <option value="#">Alnus Jorullensis</option>
                        <option value="#">Bursera Cuneata</option>
                        <option value="#">Casuarina Equisetifolia</option>
                        <option value="#">Fraxinus Udhei</option>
                        <option value="#">Liquidambar Styraciflua</option>
                        <option value="#">Prosopis Laevigata</option>
                        <option value="#">Quercus spp</option>
                        <option value="#">Salix Babylonica</option>
                        <option value="#">Salix Bonplandiana</option>
                        <option value="#">Tamarix Chinensis</option>
                        <option value="#">Acacia Farnesiana</option>
                        <option value="#">Agave Ferox</option>
                        <option value="#">Agave Salmiana</option>
                        <option value="#">Agave Mezcalero</option>
                        <option value="#">Arbutus Xalapensis</option>
                        <option value="#">Buddleja cordata</option>
                        <option value="#">Dodonaea Viscosa</option>
                        <option value="#">Echeveria gibbiflora</option>
                        <option value="#">Eysenhardtia Polystachaya</option>
                        <option value="#">Fucraea Bedinhaussi</option>
                        <option value="#">Ipomea Murucoides</option>
                        <option value="#">Mimosa Biuncifera</option>
                        <option value="#"> Nolia Parviflora</option>
                        <option value="#">Senecio Praecox</option>
                        <option value="#">Senna Multigladulosa</option>
                        <option value="#">Sedum Oxypetalum</option>
                        <option value="#">Symphoricarpos Microphyllus</option>
                        <option value="#">Tecoma Stans</option>
                         
                      </select>
                </div>
                <div class="form-group col-md-6 ">
                    <label for="inputcategoria ">Categoria</label>
                    <input type="text " class="form-control " id="Categoria " placeholder="Arboreas-Acacia farnesiana... ">
                </div>

            </div>
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputProcedencia ">Procedencia</label>
                    <input type="text " class="form-control " id="Procedencia " placeholder="Lugar de Procedencia ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputmaterial ">Tipo de Material</label>
                    <select class="form-control" id="material">
                        <option value="#">NINGUNA</option>
                        <option value="#">CONIFERAS</option>
                        <option value="#">LATIFOLIADAS</option>
                        <option value="#">ARBUSTIVAS</option>
                        <option value="#">FRUTALES</option>
                        
                      </select>
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputCostales ">Numero de costales</label>
                    <input type="number " class="form-control " id="Costales " placeholder="Numero de costales ">
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputPromedio ">Kg,promedio/saco</label>
                    <input type="text " class="form-control " id="sacoprome " placeholder="Kilogramos promedio ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputtotales ">Kilogramos Totales</label>
                    <input type="text " class="form-control " id="Totales " placeholder="Kilogramos totales ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputacumulado ">Kilogramo acumulado</label>
                    <input type="text " class="form-control " id="acomulado " placeholder="Kilogramos acumulados ">
                </div>
            </div>




            <div class="form-row ">
                <div class="form-group col-md-12 ">
                    <label for="Observaciones ">Observaciones</label>
                    <textarea class="form-control " id="observaciones " cols="10 " rows="8 "></textarea>
                </div>

            </div>

            <button type="submit " class="btn btn-success btn-block ">Guardar informaciòn</button>
            <button type="submit " class="btn btn-warning btn-block " [routerLink]="['/cuestionario']" routerLinkActive="router-link-active">Siguiente</button>
        </form>
    </div>
</main>

<footer class="page-footer font-small pt-4">

    <div class="container ">
        <ul class="list-unstyled list-inline text-center py-2 mb-2">
            <li>
                <h5 class="mb-1 mt-2 " style="text-transform: uppercase; color: rgba(255, 255, 255, 0.842);">Laboratorio de Informacion Geostadistica del suelo de Conservacion</h5>
            </li>
            <img src="../../assets/blanco-CDMX-POSIBLE.png" width="400" height="120" class="d-inline-block align-top rounded mt-3" alt="">
        </ul>
    </div>



</footer>