<nav class="navbar navbar-success">
    <img src="../../assets/sedema1.5.png" width="270" height="75" class="d-inline-block align-top rounded" alt="">
    <a class="navbar-brand " style="color: rgba(255, 255, 255, 0.884); padding-right:14vh;">Nuevo Administrador</a>
    <form class="form-inline">

        <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit" [routerLink]="['/admin']" routerLinkActive="router-link-active">Atras</button>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" [routerLink]="['/info']" routerLinkActive="router-link-active">Cerrar Sesion</button>
    </form>
</nav>
<main class="nuevousuario " id="principal-nuevousuairo">
    <div class="contenedor">

        <form class="border border-success p-3 rounded-lg m-5 " id="Formulario1 ">
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputnombre ">Nombre/s</label>
                    <input type="text " class="form-control " id="Nombre " placeholder="Nombre">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputapepaterno ">Apellido Paterno </label>
                    <input type="text" class="form-control " id="apepaterno" placeholder="Apellido Paterno">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputapematerno ">Apellido Materno</label>
                    <input type="text " class="form-control " id="apematerno" placeholder="Apellido Materno">
                </div>

            </div>
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputdomicilio "> Domicilio</label>
                    <input type="text " class="form-control " id="domicilio " placeholder="Pinus teocote... ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputCalle ">Calle </label>
                    <input type="text" class="form-control " id="Calle " placeholder="Entre que calle y calle ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputNumtrabaja ">Numero de trabajador </label>
                    <input type="text" class="form-control " id="Numtraba " placeholder="Numero de trabajador UTO.">
                </div>

            </div>
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="inputarea ">Area de trabajo</label>
                    <input type="text " class="form-control " id="area " placeholder="Area de trabajo ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputactdesa ">Correo Electronico</label>
                    <input type="email" class="form-control " id="email " placeholder="Correo Electronico ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="inputNumtrabaja ">Profecion </label>
                    <input type="text" class="form-control " id="Profecion " placeholder="Profecion ">
                </div>

            </div>






            <div class="form-row ">
                <div class="form-group col-md-12 ">
                    <label for="Observaciones ">Observaciones</label>
                    <textarea class="form-control " id="observaciones " cols="10 " rows="8 "></textarea>
                </div>

            </div>

            <button type="submit " class="btn btn-info btn-block ">Nuevo Administrador</button>
        </form>
    </div>
</main>



<footer class="page-foote font-small pt-4">

    <div class="container ">
        <ul class="list-unstyled list-inline text-center py-2 mb-2">
            <li>
                <h5 class="mb-1 mt-2 " style="text-transform: uppercase; color: rgba(255, 255, 255, 0.842);">Laboratorio de Informacion Geostadistica del suelo de Conservacion</h5>
            </li>
            <img src="../../assets/SEDEMA_RecursosNaturales_Desarrollo ALTEPETL__reducido.png" width="400" height="130" class="d-inline-block align-top rounded mt-3" alt="">
        </ul>
    </div>
    <div class="footer text-center py-3">© 2020 Copyright:
        <a href="https://www.sedema.cdmx.gob.mx/secretaria/estructura/22"> Corenader.com</a>
    </div>


</footer>