<div class="card-columns container mt-4" text-align-justify>
    <div class="card">
        <img src="../../../assets/maquina1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Destasador</h5>
            <p class="card-text"> En esta maquina los conos que llegan de ser recogidos en las areas de conservacion, y despues de llevar el primer proceso que es el secado de la misma se pasa ala maquina para destruir el cono y obtener la semilla.</p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/Desalador.jpg" class="card-img-top1 " alt="...">
        <div class="card-body">
            <h5 class="card-title">Desalador</h5>
            <p class="card-text">La semilla obtenida en el proceso anterior se pasa al desalador el cual su funcion es desvastar parte del cono que se quedo con la semilla para asi obtenerla un poco mas pura, a este proceso se le incluye la absorcion del polvo que desprende
                y agua para separar semilla buenao mala .</p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/Selecion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Seleccion</h5>
            <p class="card-text">Toda semilla que anteriormente paso por el desalador, pasa a la seleccion, en esta maquina se seperar la stoda semilla de la basura excedente que sale del desalador mendiante rendijas, las cuales con medidas estalecidas se realiza la separacion.</p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/Selecion1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Seleccion</h5>
            <p class="card-text">Este es el mismo proceso que el anterior solo que dependera el tamaño de la semilla, y el tamaño de la rendija que se utilizara, una vez realizado el proceso se mandara a unas cestas para su ultimo proceso. </p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/gravedad.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Seleccion por gravedad</h5>
            <p class="card-text">En este proceso se realiza la ultima fase antes de pasar a laboratorio, su funcion principal es subsionar las semillas infertiles y toda semilla buena se concentrara en un solo contenedor y toda semilla mala y basura se ira a otro contenedor,
                con este ultimo proceso se obtiene el 99% de pureza en semillas para su venta o proceso de sembrar.</p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/sembrar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cultivo</h5>
            <p class="card-text">Primeros dias de las semillas fertiles en contenedores para acelerar su produccion.</p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
</div>