<div class="card-columns container mt-4" text-align-justify>
    <div class="card">
        <img src="../../../assets/maquina1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Destazador</h5>
            <p class="card-text"> En esta máquina los conos que llegan de ser recogidos en las áreas de conservación, y después de llevar el primer proceso que es el secado de la misma se pasa a la máquina para destruir el cono y obtener la semilla.</p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/Desalador.jpg" class="card-img-top1 " alt="...">
        <div class="card-body">
            <h5 class="card-title">Desalador</h5>
            <p class="card-text">La semilla obtenida en el proceso anterior se pasa al desalador el cual su función es desbastar parte del cono que se quedó con la semilla para asi obtenerla un poco más pura, a este proceso se le incluye la absorción del polvo que desprende
                y agua para separar semilla bueno o mala. </p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/Selecion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Selección</h5>
            <p class="card-text">Toda semilla que anteriormente paso por el desalador, pasa a la selección, en esta máquina se sepera todas las semillas de la basura excedente que sale del desalador mediante rendijas ya preestablecidas. </p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/Selecion1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Selección</h5>
            <p class="card-text">Este es el mismo proceso que el anterior solo que dependerá el tamaño de la semilla, y el tamaño de la rendija que se utilizará, una vez realizado el proceso se mandará a unas cestas para su último proceso. </p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/gravedad.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Seleccion por gravedad</h5>
            <p class="card-text">Su función principal es succionar las semillas infértiles y toda semilla buena se concentrará en un solo contenedor, se obtiene el 99% de pureza en semillas para su venta o proceso de sembrar.</p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/sembrar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cultivo</h5>
            <p class="card-text">Primeros días de las semillas fértiles en contenedores para acelerar su producción .</p>
            <p class="card-text"><small class="text-muted">DIa: {{dia}} Mes: {{mes}} Año: {{anio}}</small></p>
        </div>
    </div>
</div>