<hr width="80%" class="line">
<h1 class="historia">Historia del Vivero de San Luis Tlaxialtemaco</h1>

<div class="cont-texto">
    <div class="contenedor-texto  " style="width: 60%; display: flex; justify-content: center;  margin-bottom: 3vh; margin-left: 3vh;">
        <p class="text-justify ">

            El Vivero de San Luis Tlaxialtemalco se encuentra enfrente del Bosque. El Vivero forma parte del Programa de Reforestación Rural. Tiene la capacidad para albergar 30 millones de plantas. En la actualidad, en él se cultivan más de 30 especies del lugar.
            Entre las flores que se cultivan se puede enlistar algunas: la margarita, la nochebuena, el girasol, el aretillo, la lavanda, el heliotropo, “huele de noche”, “amor de un rato”, el cempasúchil y las hierbas aromáticas como el cedrón, la hierbabuena
            y la manzanilla, etc. Cada una de ellas guarda características inconfundibles; son diferentes a las demás.6​3​ El mercado “Acuexcomatl” ofrece al comprador amplias variedades de plantas. El Mercado se encuentra al aire libre. En él se pueden
            adquirir árboles de chiles, cactus, macetas de diversas formas, entre muchas especies al menudeo y al mayoreo. Tan solo pasear por el Mercado es una forma de disfrutar la visita a San Luis Tlaxiatemalco.3​ En San Luis Tlaxialtemalco existe
            la leyenda de “La Sirena”. Se cuenta que esta encantaba a los niños y los dirigía al ojo de agua llamado “Acuexcomatl”, con el propósito de que se ahogaran. Esto como represalia de que los niños, con su llanto, no la dejaban dormir. Ante la
            desaparición de los niños, sus madres acudían a la iglesia a rezar por ellos, lo que enfadó a “La Sirena”, quien ocasionó la destrucción de la iglesia. A eso se debe que solo haya permanecido el lugar baldío donde se levantaba la iglesia.
            En la actualidad, cuentan que en agosto, los pobladores de San Luis Tlaxialtemalco escuchan el canto de “La Sirena” durante los días en agosto. <br>
        </p>
        <div class="imagen-vivero">
            <img src="../../assets/vivero01.jpg" style="border-radius: 20px; width: 80vh; height: 60vh;">
        </div>

    </div>

</div>

<hr width="80% " class="line ">