<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Imagen y texto  -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/sedema1.png" class="imagenlog rounded" width="110" height="60" alt="">
        </a>
    </nav>

    <div class="contenedorform ">
        <a class="navbar-brand" href="#">Laboratorio de Semillas</a>
        <div class="posbarra">
            <a class="navbar-brand " href="#">Imprimir</a>
            <a class="navbar-brand" href="#">Salir</a>
        </div>

    </div>
</nav>

<form class="formulario1  ">

    <div class="input-group ">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"> Cantidad promedio de conos que llegaron</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected="0">None</option>     
            <option value="1">100-kg a 200-kg.</option>
            <option value="2">200-kg a 300-kg</option>
            <option value="3">300-kg a 400-kg</option>
            <option value="4">400-kg a 500-kg</option>
            <option value="5">500-kg a 1-Tonelada</option>
    </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    </select>
    </div>



</form>